html {

  font-family: "Gibson", sans-serif;
  color: white;
}

body {
  margin: 0;
}

/* img {
  width: 100%;
} */

/* NOTE: HEADER STARTS HERE */

nav {
  margin-right: 1rem;
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.navigation > a {
  width: 3em;
  display: inline-block;
  padding: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 3.25rem;
}

.nav-item a {
  color: white;
  font-size: 0.75rem;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 7px;
}

.nav-item a:hover {
  color: #ffb3b7;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item-about a {
  color: #ffb3b7;
  font-size: 0.75rem;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 7px;
}

.nav-item-about a:hover {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.banner-graphic {
  background-color: #ffb3b7;
  margin: 0;
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}

.name-banner {
  margin: 0;
  background-color: black;
  grid-row: 1;
  grid-column: 1;
  align-self: end;
  margin-bottom: 2.1em;
}

.name-banner h1 {
  margin: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 6.5px;
  text-align: center;
}
/* NOTE: HEADER ENDS HERE */
h2 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 3em;
  padding-top: 2em;
  margin: 0;
}

p {
  color: black;
  font-size: 1rem;
  margin: 0;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 0.5rem;
  font-weight: 200;
  line-height: 22px;
}

.origins {
  display: grid;
  grid-template-areas:
  "paragraph  haley";
}

.pic-haley {
  grid-area: haley;
  width: 74%;
  padding-right: 3em;
  padding-left: 1em;
  padding-top: 0.75em;
}

.origins-description {
  grid-area: paragraph;
  padding-right: 0;
}

.skills-list {
  display: block;
  padding-top: 0;
  padding-left: 6.5em;
  font-weight: 200;
  padding-bottom: 5em;
}

.skill {
  color: black;
  list-style-type: disc;
}

/* NOTE: FOOTER STARTS HERE */

footer {
  display: flex;
  background-color: black;
}

.buttons {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "instagram  email  phone  logo"
    "work  about  contact  logo";
}

.button-instagram, .button-email, .button-phone {
  border-radius: 50%;
  background: rgb(255,179,183);
  background: linear-gradient(90deg, rgba(255,179,183,1) 0%, rgba(255,236,192,1) 100%);
  width: 2.5em;
  height: 2.5em;
  justify-self: center;
}

.button-phone a:hover {
  border-radius: 50%;
  background: rgb(176,157,218);
  background: linear-gradient(90deg, rgba(176,157,218,1) 0%, rgba(182,229,239,1) 100%);
  width: 2.5em;
  height: 2.5em;
  justify-self: center;
  padding:0;
}

.button-email a:hover {
  border-radius: 50%;
  background: rgb(176,157,218);
  background: linear-gradient(90deg, rgba(176,157,218,1) 0%, rgba(182,229,239,1) 100%);
  width: 2.5em;
  height: 2.5em;
  justify-self: center;
  padding:0;
}

.button-instagram a:hover {
  border-radius: 50%;
  background: rgb(176,157,218);
  background: linear-gradient(90deg, rgba(176,157,218,1) 0%, rgba(182,229,239,1) 100%);
  width: 2.5em;
  height: 2.5em;
  justify-self: center;
  padding:0;
}

.button-instagram img, .button-email img, .button-phone img {
  width: 50%;
  margin: 0 auto;
}

li .button-instagram {
  grid-area: instagram;
}

.image-instagram {
  display: inline-block;
  text-align: center;
  padding-top: 0.7rem;
}

li .button-email {
  grid-area: email;
  margin-left: 1rem;
}

.image-email {
  display: inline-block;
  text-align: center;
  padding-top: 0.8em;
}

li .button-phone {
  grid-area: phone;
}

.image-phone {
  display: inline-block;
  text-align: center;
  width: 86%;
  padding-left: 0.2em;
  padding-top: 0.42em;
}

.footer-nav-work {
  grid-area: work;
}

.footer-nav-work a {
  grid-area: work;
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

.footer-nav-work a:hover {
  color: #ffb3b7;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav-about {
  grid-area: about;
}

.footer-nav-about a {
  grid-area: about;
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

.footer-nav-about a:hover {
  color: #ffb3b7;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav-contact {
  grid-area: contact;
}

.footer-nav-contact a {
  grid-area: contact;
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

.footer-nav-contact a:hover {
  color: #ffb3b7;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo {
  grid-area: logo;
  width: 100%;
  padding-right: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 0rem;
}

.footer-logo {
  justify-content: flex-end;
}
/* NOTE: TABLET SIZING STARTS HERE */

@media only screen and (min-width: 608px) {

  /* NOTE: HEADER TABLET size */
  html {
    font-size: 110%;
    line-height: 1.4;
  }

  p {
    line-height: 110%
  }

  .main-nav {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }

  .nav-item a {
    font-size: 100%;
  }
  .nav-item-about a {
    font-size: 100%;
  }

  .name-banner {
    margin-bottom: 2.9em;
  }

  .name-banner h1 {
    font-size: 1.4rem;
    letter-spacing: 7.5px;
  }

  /* NOTE: FOOTER TABLET size */

  .buttons {
    padding-right: 0.5rem;
  }

  .button-instagram, .button-email, .button-phone {
    width: 3.5em;
    height: 3.5em;
  }

  .image-email {
    padding-top: 1em;
  }

  .image-phone {
    padding-top: 0.55em;
    padding-left: 0.25em;
  }

  .image-instagram {
    padding-top: 0.84em;
  }

  .footer-nav-work a, .footer-nav-about a, .footer-nav-contact a {
    font-size: 0.9rem;
  }

  .footer-logo {
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0em;
  }

}

/* NOTE: DESKTOP SIZING STARTS HERE */

@media only screen and (min-width: 800px) {

  /* NOTE: HEADER TABLET size */
  html {
    font-size: 125%;
    line-height: 1.4;
  }

  p {
    line-height: 135%;
  }

  .nav-logo {
    width: 141%;
  }

  .nav-item a {
    letter-spacing: 10px;
    padding: 1.25em;
  }

  .name-banner {
    margin-bottom: 3.3em;
  }

  .name-banner h1 {
    font-size: 1.5rem;
    letter-spacing: 16.5px;
  }
    /* NOTE: MAIN CONTENT -  DESKTOP size */

  main {
    margin-left: 5em;
    margin-right: 5em;
  }

  .pic-haley {
    width: 50%;
  }

    /* NOTE: FOOTER DESKTOP size */

  .buttons {
    padding-left: 3.5rem;
    padding-right: 6rem;
  }

  .footer-logo {
    padding-right: 3.5rem;
    padding-left: 0rem;
  }

}
