html {

  font-family: "Gibson", sans-serif;
  color: white;
}

body {
  margin: 0;
}

/* img {
  width: 100%;
} */

/* NOTE: HEADER STARTS HERE */

nav {
  margin-right: 1rem;
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.navigation > a {
  width: 3em;
  display: inline-block;
  padding: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 3.25rem;
}

.nav-item a {
  color: white;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 7px;
}

.nav-item a:hover {
  color: #ffb3b7;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item-contact a {
  color: #ffb3b7;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 7px;
}

.nav-item-contact a:hover {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.banner-graphic {
  background-color: #ffb3b7; 
  margin: 0;
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}

.name-banner {
  margin: 0;
  background-color: black;
  grid-row: 1;
  grid-column: 1;
  align-self: end;
  margin-bottom: 3em;
}

.name-banner h1 {
  margin: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 9.5px;
  text-align: center;
}
/* NOTE: HEADER ENDS HERE */

p {
  color: black;
  font-size: 1rem;
  margin: 0;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 2.5rem;
  font-weight: 200;
  line-height: 22px;
}

.phone-number {
  padding-bottom: 2.5rem;
}

.email-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 2.5rem;
  font-weight: 200;
  line-height: 22px;
}

.email-address a:hover {
  color: #ffb3b7;
  text-decoration: none;
}

.instagram-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 2.5rem;
  font-weight: 200;
  line-height: 22px;
}

.instagram-handel a:hover {
  color: #ffb3b7;
  text-decoration: none;
}

.phone-number-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 2.5rem;
  font-weight: 200;
  line-height: 22px;
}

.phone-number a:hover {
  color: #ffb3b7;
  text-decoration: none;
}

/* NOTE: FOOTER STARTS HERE */

footer {
  display: flex;
  background-color: black;
}

.buttons {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "instagram  email  phone  logo"
    "work  about  contact  logo";
}

.button-instagram, .button-email, .button-phone {
  border-radius: 50%;
  background: rgb(255,179,183);
  background: linear-gradient(90deg, rgba(255,179,183,1) 0%, rgba(255,236,192,1) 100%);
  width: 2.5em;
  height: 2.5em;
  justify-self: center;
}

.button-phone a:hover {
  border-radius: 50%;
  background: rgb(176,157,218);
  background: linear-gradient(90deg, rgba(176,157,218,1) 0%, rgba(182,229,239,1) 100%);
  width: 2.5em;
  height: 2.5em;
  justify-self: center;
  padding:0;
}

.button-email a:hover {
  border-radius: 50%;
  background: rgb(176,157,218);
  background: linear-gradient(90deg, rgba(176,157,218,1) 0%, rgba(182,229,239,1) 100%);
  width: 2.5em;
  height: 2.5em;
  justify-self: center;
  padding:0;
}

.button-instagram a:hover {
  border-radius: 50%;
  background: rgb(176,157,218);
  background: linear-gradient(90deg, rgba(176,157,218,1) 0%, rgba(182,229,239,1) 100%);
  width: 2.5em;
  height: 2.5em;
  justify-self: center;
  padding:0;
}

.button-instagram img, .button-email img, .button-phone img {
  width: 50%;
  margin: 0 auto;
}

li .button-instagram {
  grid-area: instagram;
}

.image-instagram {
  display: inline-block;
  text-align: center;
  padding-top: 0.7rem;
}

li .button-email {
  grid-area: email;
  margin-left: 1rem;
}

.image-email {
  display: inline-block;
  text-align: center;
  padding-top: 0.8em;
}

li .button-phone {
  grid-area: phone;
}

.image-phone {
  display: inline-block;
  text-align: center;
  width: 86%;
  padding-left: 0.2em;
  padding-top: 0.42em;
}

.footer-nav-work {
  grid-area: work;
}

.footer-nav-work a {
  grid-area: work;
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

.footer-nav-work a:hover {
  color: #ffb3b7;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav-about {
  grid-area: about;
}

.footer-nav-about a {
  grid-area: about;
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

.footer-nav-about a:hover {
  color: #ffb3b7;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav-contact {
  grid-area: contact;
}

.footer-nav-contact a {
  grid-area: contact;
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

.footer-nav-contact a:hover {
  color: #ffb3b7;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo {
  grid-area: logo;
  width: 88%;
  padding-right: 2em;
  padding-top: 2em;
  padding-left: 1em;
  padding-bottom: 2em;
}

.footer-logo {
  justify-content: flex-end;
}
