html {

  font-family: "Gibson", sans-serif;
  color: white;
}

body {
  margin: 0;
}

/* img {
  width: 100%;
} */

/* NOTE: HEADER STARTS HERE */

nav {
  margin-right: 1rem;
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.navigation > a {
  width: 3em;
  display: inline-block;
  padding: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 3.25rem;
}

.nav-item a {
  color: white;
  font-size: 0.6rem;
  padding: 0.25rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
}

.nav-item-work a {
  color: #ffb3b7;
  font-size: 0.6rem;
  padding: 0.25rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
}

.nav-item-work a:hover {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item a:hover {
  color: #ffb3b7;
  text-decoration: none;
  text-transform: uppercase;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.banner-graphic {
  background-color: #ffb3b7;
  margin: 0;
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}

.name-banner {
  margin: 0;
  background-color: black;
  grid-row: 1;
  grid-column: 1;
  align-self: end;
  margin-bottom: 2.1em;
}

.name-banner h1 {
  margin: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 6.5px;
  text-align: center;
}
/* NOTE: HEADER ENDS HERE */

.directory {
  display: grid;
  grid-template-areas:
  "ad-campaign logo-design"
  "theatre-poster type-work"
  "dust-jacket infographic"
  "watercolour acrylic"
  "hand-rendering woodburning";
  grid-gap: 0.1em;
  padding-top: 2.25em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.skip-to {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2.25px;
  color: white;
  background-color: black;
  text-align: center;
  padding: 1em;
  font-weight: 300;
}

.directory a:hover {
  color: black;
  background-color: rgb(255,179,183);
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
  font-weight: 300;
}

.type-of-work {
  margin: 0;
  background-color: black;
  grid-row: 1;
  grid-column: 1;
  align-self: end;
  margin-top: 1em;
  margin-bottom: 1em;
}

.type-of-work h2 {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 450;
  letter-spacing: 8px;
  text-align: center;
}

p {
  color: black;
  font-size: 1rem;
  margin: 0;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 0.35rem;
  padding-bottom: 3rem;
  font-weight: 200;
  line-height: 22px;
  text-align: center;
}

h3 {
  color: black;
  font-size: 1rem;
  margin: 0;
  padding: 2rem;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

main img {
  width: 84%;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* NOTE: END OF MAIN */

/* NOTE: FOOTER STARTS HERE */

footer {
  display: flex;
  background-color: black;
}

.buttons {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "instagram  email  phone  logo"
    "work  about  contact  logo";
}

.button-instagram a, .button-email a, .button-phone a {
  border-radius: 50%;
  background: rgb(255,179,183);
  background: linear-gradient(90deg, rgba(255,179,183,1) 0%, rgba(255,236,192,1) 100%);
  width: 2.5em;
  height: 2.5em;
  justify-self: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.button-phone a:hover {
  background: rgb(176,157,218);
  background: linear-gradient(90deg, rgba(176,157,218,1) 0%, rgba(182,229,239,1) 100%);
}

.button-email a:hover {
  background: rgb(176,157,218);
  background: linear-gradient(90deg, rgba(176,157,218,1) 0%, rgba(182,229,239,1) 100%);

}

.button-instagram a:hover {
  background: rgb(176,157,218);
  background: linear-gradient(90deg, rgba(176,157,218,1) 0%, rgba(182,229,239,1) 100%);

}

.button-instagram img, .button-email img, .button-phone img {
  width: 50%;
}

li .button-instagram {
  grid-area: instagram;
}

li .button-email {
  grid-area: email;
}

li .button-phone {
  grid-area: phone;
}

.footer-nav-work {
  grid-area: work;
}

.footer-nav-work a {
  grid-area: work;
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

.footer-nav-work a:hover {
  color: #ffb3b7;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav-about {
  grid-area: about;
}

.footer-nav-about a {
  grid-area: about;
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

.footer-nav-about a:hover {
  color: #ffb3b7;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav-contact {
  grid-area: contact;
}

.footer-nav-contact a {
  grid-area: contact;
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

.footer-nav-contact a:hover {
  color: #ffb3b7;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo {
  grid-area: logo;
  width: 100%;
  padding-right: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 0rem;
}

.footer-logo {
  justify-content: flex-end;
}



/* NOTE: TABLET SIZING STARTS HERE */

@media only screen and (min-width: 608px) {

  /* NOTE: HEADER TABLET size */
  html {
    font-size: 110%;
    line-height: 1.4;
  }

  p {
    line-height: 110%
  }

  .main-nav {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }

  .nav-item a {
    font-size: 100%;
  }

  .nav-item-work a {
    font-size: 100%;
  }

  .name-banner {
    margin-bottom: 2.9em;
  }

  .name-banner h1 {
    font-size: 1.4rem;
    letter-spacing: 7.5px;
  }

  /* NOTE: MAIN CONTENT - WORK-  TABLET size */
  main img {
    width: 88.5%;
  }


  /* NOTE: FOOTER TABLET size */

  .buttons {
    padding-right: 0.5rem;
  }

  .button-instagram, .button-email, .button-phone {
    width: 3.5em;
    height: 3.5em;
  }

  .footer-nav-work a, .footer-nav-about a, .footer-nav-contact a {
    font-size: 0.9rem;
  }

  .footer-logo {
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0;
  }

}

/* NOTE: DESKTOP SIZING STARTS HERE */

@media only screen and (min-width: 800px) {

  /* NOTE: HEADER TABLET size */
  html {
    font-size: 125%;
    line-height: 1.4;
  }

  p {
    line-height: 135%;
  }

  .nav-logo {
    width: 141%;
  }

  .nav-item a {
    letter-spacing: 10px;
    padding: 1.25em;
  }

  .name-banner {
    margin-bottom: 3.3em;
  }

  .name-banner h1 {
    font-size: 1.5rem;
    letter-spacing: 16.5px;
  }
    /* NOTE: MAIN CONTENT -  DESKTOP size */
  .directory {
    padding-left: 6em;
    padding-right: 6em;
  }
  main img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

    /* NOTE: FOOTER DESKTOP size */

  .buttons {
    padding-left: 3.5rem;
    padding-right: 6rem;
  }

  .footer-logo {
    padding-right: 3.5rem;
    padding-left: 0rem;
  }

}
